<html>
  <head>
    <h1>Team14 WebApp</h1>
    <title>Management Page</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="tab">
      <ul>
	<li><a href="#manage">Manage</a></li>
	<li><a href="#create">Create</a></li>
	<li><a href="#view">View</a></li>
	<li><a href="#search">Search</a></li>
	<li><a href="#social">Social</a></li>
      </ul>
    </div>
    <hr>
    <div id = "reportlist">
      <h2>Your Reports</h2>
	  <!-- use form to communicate by specifying route -->
      <form action="/decr" method="get">
		<button type="submit">Previous Report</button>
      </form>
	  <!-- Deal with empty list -->
      {% if length != 0 %}
      <div class = "report">
		<h4>Theme</h4>
		<div class = "description">
			<!-- format time string -->
		  <p>Time: {{report.r_time.strftime('%a, %Y %b %d %H:%M')}}</p>
		  <p>Location: {{report.r_location}}</p>
		  <p>Description: {{report.r_description}}</p>
		</div>
		<div class="image">
			<!-- dynamic image url -->
		  <img src="{{report.r_url}}">
		</div>
      </div>
      {% else %}
      <div class= "emptyreport">
	<h4>You haven't created any reports yet :)</h4>
     </div>
     {% endif %}			
      <form action="/incr" method="get">
	  <button type="submit">Next Report</button>
      </form>
      <form action="/delete" method="delete">
	<button type="submit">Delete Current Report</button>
      </form>
    </div>
    <hr>
	<!-- TODO: add theme service -->
    <div id = "subscription">
      <h2>Subscribed Themes</h2>
      <div class = "theme">
	<p>Theme 1</p>
	<button>unsubscribe</button>
      </div>
      <div class = "theme">
	<p>Theme 2</p>
	<button>unsubscribe</button>
      </div>
      <div class = "theme">
	<p>Theme 3</p>
	<button>unsubscribe</button>
      </div>
    </div>

  </body>
  </html>
