{% extends "base.html" %}

{% block content %}
<h2>Theme name</h2>
<button class="button"> Subscribe </button>
<hr>
<ul class="reportlist">
    <li>
        <div class = "report" >
            <h3>Report Heading</h3>
            <img src="../static/images/portrait.jpg"  alt="Theme-Portrait" height="120" width="120"/>
         </div>

        <div class = "description">
            <p>Time: Oct. 11 2019</p>
            <p>author</p>
            <p>tags:
            <ul>
            <li>tag1</li>
            <li>tag2</li>
            <li>tag3</li>
            </ul>
            </p>
            <p>OK, by the end of the phase of the project, you will likely have user interfaces that fit roughly in
            the following categories (these are examples, please adapt them to your individual project as
            needed)</p>
        </div>
    <hr>
    </li>

    <li>
        <div class = "report" >
            <h3>Report Heading</h3>
            <img src="../static/images/portrait.jpg"  alt="Theme-Portrait" height="120" width="120"/>
         </div>

        <div class = "description">
            <p>Time: Oct. 11 2019</p>
            <p>author</p>
            <p>tags:
            <ul>
            <li>tag1</li>
            <li>tag2</li>
            <li>tag3</li>
            </ul>
            </p>
            <p>OK, by the end of the phase of the project, you will likely have user interfaces that fit roughly in
            the following categories (these are examples, please adapt them to your individual project as
            needed)</p>
        </div>
    <hr>
    </li>

    <li>
        <div class = "report" >
            <h3>Report Heading</h3>
            <img src="../static/images/portrait.jpg"  alt="Theme-Portrait" height="120" width="120"/>
         </div>

        <div class = "description">
            <p>Time: Oct. 11 2019</p>
            <p>author</p>
            <p>tags:
            <ul>
            <li>tag1</li>
            <li>tag2</li>
            <li>tag3</li>
            </ul>
            </p>
            <p>OK, by the end of the phase of the project, you will likely have user interfaces that fit roughly in
            the following categories (these are examples, please adapt them to your individual project as
            needed)</p>
        </div>
    <hr>
    </li>

</ul>

{% endblock %}