{% extends "base.html" %}

{% block content %}
<h2>View All Themes</h2>
<hr>

<ul class="themelist">
    <li>
        <a href="{{ url_for('view_one',name=1) }}" target="_blank">
            <img src="../static/images/portrait.jpg"  alt="Theme-Portrait"/>
            <h3>Portrait</h3>
        </a>
        <button class="button"> Subscribe </button>
            <p>Description: a portrait is generally not a snapshot, but a composed
                image of a person in a still position.</p>
    </li>
    <li>
        <a href="{{url_for('view_one',name=2)}}" target="_blank">
            <img src="../static/images/portrait.jpg"  alt="Theme-Portrait"/>
            <h3>Landscape</h3>
        </a>
        <button class="button"> Subscribe </button>
            <p>Description: a portrait is generally not a snapshot, but a composed
                image of a person in a still position.</p>
    </li>
    <li>
        <a href="{{url_for('view_one')}}" target="_blank">
            <img src="../static/images/portrait.jpg"  alt="Theme-Portrait"/>
            <h3>Portrait</h3>
        </a>
        <button class="button"> Subscribe </button>
            <p>Description: a portrait is generally not a snapshot, but a composed
                image of a person in a still position.</p>
    </li>
    <li>
        <a href="{{url_for('view_one')}}" target="_blank">
            <img src="../static/images/portrait.jpg"  alt="Theme-Portrait"/>
            <h3>Portrait</h3>
        </a>
        <button class="button"> Subscribe </button>
            <p>Description: a portrait is generally not a snapshot, but a composed
                image of a person in a still position.</p>
    </li>
    <li>
        <a href="{{url_for('view_one')}}" target="_blank">
            <img src="../static/images/portrait.jpg"  alt="Theme-Portrait"/>
            <h3>Portrait</h3>
        </a>
        <button class="button"> Subscribe </button>
            <p>Description: a portrait is generally not a snapshot, but a composed
                image of a person in a still position.</p>
    </li>
    <li>
        <a href="{{url_for('view_one')}}" target="_blank">
            <img src="../static/images/portrait.jpg"  alt="Theme-Portrait"/>
            <h3>Portrait</h3>
        </a>
        <button class="button"> Subscribe </button>
            <p>Description: a portrait is generally not a snapshot, but a composed
                image of a person in a still position.</p>
    </li>
</ul>

{% endblock %}